*.class
*.jar
target/*
target/*
flink-connector-jdbc-parent/flink-connector-jdbc/target
argodb-flink-1.13/target
argodb-flink-1.14/target
argodb-flink-1.15/target
argodb-flink-1.17/target
argodb-flink-common/target
*.diff
*.patch
*.swp
*.idea
*.iml
.DS_Store
MANIFEST.MF
*.log
conf/
metastore_db
dependency-reduced-pom.xml
*.patch
*.diff
/flink-connector-jdbc-parent/flink-connector-jdbc/target
